#include "ackres.h"
#include <windows.h>

ackicon ICON "ackicon.ico"


ACKMENU MENU
{
 POPUP "&File"
 {
  MENUITEM "&Open Resource ...\t(broken)", CM_FILEOPEN, GRAYED
  MENUITEM "Save &as ...\t(broken)", CM_FILESAVE_AS_, GRAYED
  MENUITEM "&New Map\tCtrl+N", CM_FILENEWMAP
  MENUITEM "&Save\tCtrl+S", CM_FILESAVE
  MENUITEM "&Exit\tAlt+F4", CM_FILEEXIT
 }

 POPUP "&Edit"
 {
  /*MENUITEM "&Global ...", CM_EDITGLOBAL
  MENUITEM SEPARATOR*/
  MENUITEM "&Undo\tCtrl+Z", CM_EDITUNDO, GRAYED
  MENUITEM "&Redo\tCtrl+Y", CM_EDITREDO, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Copy Object\tCtrl+C", CM_EDITCOPYOBJECT
  MENUITEM "&Paste Object\tCtrl+V", CM_EDITPASTEOBJECT
  MENUITEM SEPARATOR
  MENUITEM "&Map", CM_EDITMAP
  MENUITEM "&Objects", CM_EDITOBJECTS
  MENUITEM SEPARATOR
  POPUP "&Fill"
  {
   MENUITEM "&Border\tCtrl+B", CM_FILLBORDER
   MENUITEM "&Entire Map\tCtrl+M", CM_FILLENTIRE_MAP
  }

  MENUITEM "C&lear Map\tCtrl+X", CM_GOODIESCLEAR_MAP
 }

 POPUP "&Bitmap"
 {
  MENUITEM "&Load ...", CM_BITMAPLOAD
  MENUITEM "&Delete", CM_BITMAPDELETE
 }

 POPUP "&View"
 {
  MENUITEM "&Walls\t1", CM_VIEWWALLS
  MENUITEM "&Floor\t2", CM_VIEWFLOOR
  MENUITEM "&Ceiling\t3", CM_VIEWCEILING
  MENUITEM SEPARATOR
  MENUITEM "&INF file ... (broken)", CM_VIEWINF_FILE, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "Times &One\tCtrl+1", CM_VIEWTIMES_ONE
  MENUITEM "Times &Two\tCtrl+2", CM_VIEWTIMES_TWO
 }

 POPUP "&Walls"
 {
  MENUITEM "&Normal", CM_WALLS_NORMAL
  MENUITEM "&Split Door", CM_WALLS_SPLIT
  MENUITEM "S&liding Door", CM_WALLS_SLIDING
  MENUITEM "Se&cret Door", CM_WALLS_SECRET
  MENUITEM "&Transparent", CM_WALLS_TRANSPARENT
  MENUITEM "&Passable", CM_WALLS_PASSABLE
 }

 POPUP "&Goodies"
 {
  MENUITEM "&Attributes ...", CM_GOODIESATTRIBUTES
  MENUITEM "&Load Backdrop ...", CM_GOODIESLOAD_BACKDROP
  MENUITEM "&Track Player", CM_GOODIESTRACK_PLAYER
  MENUITEM "&Show Coordinates", CM_GOODIESSHOW_COORDINATES
  MENUITEM SEPARATOR
  /* MENUITEM "Solid &Floor", CM_GOODIESSOLID_FLOOR
  MENUITEM "Solid &Ceiling", CM_GOODIESSOLID_CEILING
  MENUITEM SEPARATOR */
  MENUITEM "Ligh&t shading", CM_GOODIESLIGHT_SHADING
  //MENUITEM "Single &Bitmap", CM_GOODIESSINGLE_BITMAP
  /*POPUP "Assign &bitmap to"
  {
   MENUITEM "Si&ngle Ceiling", CM_ASSIGN_CEILING
   MENUITEM "Sin&gle Floor", CM_ASSIGN_FLOOR
  }*/

 }

}




DIALOG_1 DIALOG 4, 18, 303, 244
STYLE DS_ABSALIGN|DS_MODALFRAME|WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU
CAPTION "Attributes"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 175, 219, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 242, 218, 50, 14
 AUTORADIOBUTTON "Normal", IDC_NORMAL, 12, 31, 47, 12
 AUTORADIOBUTTON "Door (Split)", IDC_DOORSPLIT, 12, 54, 47, 12
 AUTORADIOBUTTON "Door (Sliding)", IDC_DOORSLIDING, 12, 77, 54, 12
 AUTORADIOBUTTON "Door (Secret)", IDC_DOORSECRET, 12, 100, 54, 12
 AUTOCHECKBOX "Transparent", IDC_TRANSPARENT, 12, 123, 51, 11
 AUTOCHECKBOX "Passable", IDC_WALLPASS, 12, 146, 58, 14
 AUTORADIOBUTTON "Create", IDC_CREATE, 86, 31, 41, 13, BS_AUTORADIOBUTTON | WS_GROUP
 AUTORADIOBUTTON "Walk", IDC_WALK, 86, 44, 41, 13
 AUTORADIOBUTTON "Interact", IDC_INTERACT, 86, 57, 41, 13
 AUTORADIOBUTTON "Attack", IDC_ATTACK, 86, 70, 41, 13
 AUTORADIOBUTTON "Destroy", IDC_DESTROY, 86, 83, 41, 13
 AUTOCHECKBOX "Passable", IDC_OBJPASS, 86, 96, 58, 14
 AUTOCHECKBOX "Active", IDC_ACTIVE, 86, 110, 58, 14, WS_DISABLED    //Don't allow users to specify whether it's active or not. Should be active when on map, inactive if not
 AUTOCHECKBOX "Moveable", IDC_MOVEABLE, 86, 124, 58, 14
 CONTROL "", IDC_CURRENT, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 172, 40, 40, 130
 CONTROL "", IDC_SUPPLY, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 242, 40, 40, 130
 SCROLLBAR IDC_VSCROLLSUPPLY, 283, 40, 11, 130, SBS_VERT
 SCROLLBAR IDC_VSCROLLCURRENT, 213, 40, 11, 130, SBS_VERT
 CONTROL "Current:", IDC_CURSTATIC, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 172, 31, 52, 9
 LTEXT "Supply:", -1, 242, 31, 51, 9, WS_BORDER | WS_GROUP
 CTEXT "<->", -1, 226, 75, 14, 10, SS_CENTER | WS_BORDER | WS_GROUP
 GROUPBOX "Walls:", IDC_GROUPBOX1, 5, 15, 68, 223, BS_GROUPBOX
 GROUPBOX "Object:", IDC_GROUPBOX2, 79, 15, 86, 224, BS_GROUPBOX
 CTEXT "Bitmaps for this object sequence", -1, 173, 19, 117, 10, SS_CENTER | WS_BORDER | WS_GROUP
 AUTOCHECKBOX "MultiView", IDC_MULTIVIEW, 86, 138, 58, 14
 AUTOCHECKBOX "Animate Once", IDC_ANIMONCE, 86, 166, 58, 14
 LTEXT "Sides:", IDC_SIDESSTATIC, 118, 187, 22, 11
 LTEXT "Bitmaps Per View:", IDC_BPVSTATIC, 82, 202, 60, 11
 EDITTEXT IDC_SIDES, 141, 185, 18, 13, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_BMPERVIEW, 141, 201, 18, 13, WS_BORDER | WS_TABSTOP
 AUTOCHECKBOX "Animate", IDC_ANIMATE, 86, 152, 58, 14
 LTEXT "Speed:", IDC_SPEEDSTATIC, 115, 219, 25, 11
 EDITTEXT IDC_SPEED, 141, 218, 18, 13, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Load Supply Bitmap ...", IDC_LOAD, 187, 191, 97, 14
}


/*DIALOG_2 DIALOG 56, 56, 211, 109
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Global Attributes"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 28, 76, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 138, 76, 50, 14
 LTEXT "Solid Top color (0-255):", -1, 17, 18, 83, 10
 LTEXT "Solid Bottom color (0-255):", -1, 8, 39, 92, 12
 EDITTEXT IDC_EDIT1, 101, 14, 28, 16, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT2, 101, 35, 28, 16, WS_BORDER | WS_TABSTOP
 AUTOCHECKBOX "Solid Ceiling", IDC_CHECKBOX1, 147, 14, 62, 15
 AUTOCHECKBOX "Solid Floor", IDC_CHECKBOX2, 147, 37, 62, 15
}*/

DIALOG_3 DIALOG 13, 24, 284, 260
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "INFormation file viewer"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 120, 237, 50, 14
 LISTBOX IDC_LISTBOX1, 9, 7, 267, 191, LBS_NOTIFY | WS_BORDER | LBS_DISABLENOSCROLL | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 LTEXT "This is the INF file that will be created when the resource is saved.", -1, 31, 206, 220, 11
 LTEXT "This is a READ-ONLY viewer of the file.", -1, 70, 219, 133, 12
}
